<footer class="shopez-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="brand">Shop<span>EZ</span></div>
        <p>Your one-stop shop for everything.</p>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/products">Products</a></li>
          <li><a routerLink="/cart">Cart</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Contact</h5>
        <p>Email: maniarroshan7@gmail.com<br>Phone: +91 8143153474</p>
      </div>
    </div>
    <hr>
    <div class="text-center">© 2026 ShopEZ. All rights reserved.</div>
  </div>
</footer>